<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
	   <meta charset="utf-8">
       <title>Scrap avito product price</title>
	  	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
		
</head> 
		<body>
			<h1>Titre : {{ scr_title }}</h1>
				<div>
					hey there partner! <br />
					<strong>{{ boldmessage }}</strong><br />
          This is the first web scraping price for avito product </br>
				</div>
        {% block content %}
        {% endblock %}
        <canvas id="canvas" height="450" width="610"></canvas>
				<div>
					<img src="{% static "images/rang.jpg" %}" alt="Picture of rango"/>
				</div>
      
      
	<script>

		var BarChart = {
			labels : ["1", "2","3","4","5"],
			datasets : [
				{
					fillColor : "rgba(252,147,65,0.5)",
					strokeColor : "rgba(255,255,255,1)",
					data : {{ data }}
				}
			]
			
		}

	var myBarChart = new Chart(document.getElementById("canvas").getContext("2d")).Bar(BarChart, {scaleFontSize : 13, 	scaleFontColor : "#ffa45e"});
	
	</script>

		</body>
	</html>
